<%= stylesheet_link_tag    "editList", :media => "all" %>
<!-- TODO: add to page template. -->
<link href='http://fonts.googleapis.com/css?family=Mrs+Saint+Delafield' rel='stylesheet' type='text/css'>

<div id="content">
  <p id="notice"><%= notice %></p>
  <h1 id="pageTitle">Knotlyr</h1>

  <%= select_tag "lists", options_from_collection_for_select(@lists, "id", "name", @list.id) %>

  <div id="addNewItemWrapper">
    <input type="text" id="addItemName"/><button id="addItemBtn">Add</button>
  </div>

  <div id="listWrapper">
    <ul id="itemList">
      <% if @list.items.empty? %>
        <li id="emptyItem">List is empty.</li>
      <% else %>
        <!-- TODO: Create helper to create an item. -->
        <% @list.items.each do |item| %>
            <li id="item-<%= item.id %>">
              <span class="itemName"><%= item.name %></span>
              <button class='deleteItem'>X</button>
            </li>
        <% end %>
      <% end %>
    </ul>
  </div>
</div>

<!--
  TODO:
  -create template for pages
  -default root to list index
  -autocomplete based on past items on this list.
    +don't delete items, just remove them
  -delete needs to redirect to original list.
 -->
